@tailwind base;
@tailwind components;
@tailwind utilities;

/* tabs */
/* From Uiverse.io by spj2401Dev */
.button-group {
  flex: 1;
  margin: 4px auto;
}

.button-group input[type='radio'] {
  display: none;
}

.button-group label {
  display: inline-block;
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid #dddddd57;
  background-color: #f9f9f7;
  color: #6e6e6f;
  border-radius: 4px;
  transition: all ease 0.2s;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  font-size: 16px;
}

.button-group input[type='radio']:checked + label {
  background-color: #4ebc73;
  color: #fff;
}

fieldset {
  border: 0;
  display: flex;
}

/* scrolbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

/* partners */

.scroll-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.scroll-content {
  display: flex;
  animation: infinite-scroll 20s linear infinite;
}

@media (max-width: 760px) {
  .scroll-content {
    width: max-content;
  }
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes slide-out-left {
    0% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%) scale(0.8);
      opacity: 0;
    }
  }

  @keyframes slide-out-right {
    0% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(100%) scale(0.8);
      opacity: 0;
    }
  }

  @keyframes slide-in {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-slide-out-left {
    animation: slide-out-left 0.5s ease-in-out forwards;
  }

  .animate-slide-out-right {
    animation: slide-out-right 0.5s ease-in-out forwards;
  }

  .animate-slide-in {
    animation: slide-in 0.5s ease-in-out forwards;
  }
}

/* Скрыть скроллбар в Chrome, Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Скрыть скроллбар в Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* Скрытие скроллбара (Webkit) */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

/* Для Firefox */
.scroll-hidden {
  scrollbar-width: none;
}

input:focus {
  outline: none; /* Removes the default outline */
}

/* From Uiverse.io by namecho */
.switch {
  --button-width: 3em;
  --button-height: 1.8em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc(
    (var(--button-height) - var(--toggle-diameter)) / 2
  );
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #cccccc;
  --color-green: #4ebc73;
}

.slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}

.slider::after {
  content: '';
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.switch input[type='checkbox']:checked + .slider {
  background-color: var(--color-green);
}

.switch input[type='checkbox']:checked + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)
    )
  );
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type='checkbox'] {
  display: none;
}

.switch input[type='checkbox']:active + .slider::after {
  width: var(--toggle-wider);
}

.switch input[type='checkbox']:checked:active + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)
    )
  );
}

/* контейнер поиска */
.ymaps-2-1-79-searchbox {
  height: 48px !important;
}

/* инпут */
.ymaps-2-1-79-searchbox-input {
  height: 48px !important;
  padding: 10px 14px !important;
  font-size: 18px !important;
}
.ymaps-2-1-79-searchbox-input__input {
  font-size: 16px !important;
}

/* кнопка "Найти" */
.ymaps-2-1-79-searchbox-button {
  height: 48px !important;
  background-color: #4ebc73 !important;
  border-radius: 0 8px 8px 0 !important;
}

/* иконка поиска */
.ymaps-2-1-79-searchbox-button .ymaps-2-1-79-searchbox-button-text {
  color: white !important;
  font-size: 18px !important;
  margin-top: 10px;
}

/* hover */
.ymaps-2-1-79-searchbox-button:hover {
  background-color: #3da864 !important;
}

/* Loader */

.loader {
  width: 32px;
  overflow: visible;
  transform: rotate(-90deg);
  transform-origin: center;

  --active: #a6abad;
  --track: #4ebc73;

  --duration: 8s;

  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

.active {
  stroke: var(--active);
  stroke-linecap: round;
  stroke-dashoffset: 360;
  animation: active-animation var(--duration) ease-in-out infinite;
}

@keyframes active-animation {
  0% {
    stroke-dasharray: 0 0 0 360 0 360;
  }
  12.5% {
    stroke-dasharray: 0 0 270 90 270 90;
  }
  25% {
    stroke-dasharray: 0 270 0 360 0 360;
  }
  37.5% {
    stroke-dasharray: 0 270 270 90 270 90;
  }
  50% {
    stroke-dasharray: 0 540 0 360 0 360;
  }
  50.001% {
    stroke-dasharray: 0 180 0 360 0 360;
  }
  62.5% {
    stroke-dasharray: 0 180 270 90 270 90;
  }
  75% {
    stroke-dasharray: 0 450 0 360 0 360;
  }
  87.5% {
    stroke-dasharray: 0 450 270 90 270 90;
  }
  87.501% {
    stroke-dasharray: 0 90 270 90 270 90;
  }
  100% {
    stroke-dasharray: 0 360 1 360 0 360;
  }
}

.track {
  stroke: var(--track);
  stroke-linecap: round;
  stroke-dashoffset: 360;
  animation: track-animation var(--duration) ease-in-out infinite;
}

@keyframes track-animation {
  0% {
    stroke-dasharray: 0 20 320 40 320 40;
  }
  12.5% {
    stroke-dasharray: 0 290 50 310 50 310;
  }
  25% {
    stroke-dasharray: 0 290 320 40 320 40;
  }
  37.5% {
    stroke-dasharray: 0 560 50 310 50 310;
  }
  37.501% {
    stroke-dasharray: 0 200 50 310 50 310;
  }
  50% {
    stroke-dasharray: 0 200 320 40 320 40;
  }
  62.5% {
    stroke-dasharray: 0 470 50 310 50 310;
  }
  62.501% {
    stroke-dasharray: 0 110 50 310 50 310;
  }
  75% {
    stroke-dasharray: 0 110 320 40 320 40;
  }
  87.5% {
    stroke-dasharray: 0 380 50 310 50 310;
  }
  100% {
    stroke-dasharray: 0 380 320 40 320 40;
  }
}
