@tailwind base;
@tailwind components;
@tailwind utilities;

/* tabs */
/* From Uiverse.io by spj2401Dev */
.button-group {
  flex: 1;
  margin: 4px auto;
}

.button-group input[type='radio'] {
  display: none;
}

.button-group label {
  display: inline-block;
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid #dddddd57;
  background-color: #f9f9f7;
  color: #6e6e6f;
  border-radius: 4px;
  transition: all ease 0.2s;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  font-size: 16px;
}

.button-group input[type='radio']:checked + label {
  background-color: #4ebc73;
  color: #fff;
}

fieldset {
  border: 0;
  display: flex;
}

/* scrolbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}


/* partners */

.scroll-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.scroll-content {
  display: flex;
  animation: infinite-scroll 20s linear infinite;
}

@media (max-width: 760px) {
  .scroll-content {
    width: max-content;
  }
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes slide-out-left {
    0% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%) scale(0.8);
      opacity: 0;
    }
  }

  @keyframes slide-out-right {
    0% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(100%) scale(0.8);
      opacity: 0;
    }
  }

  @keyframes slide-in {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-slide-out-left {
    animation: slide-out-left 0.5s ease-in-out forwards;
  }

  .animate-slide-out-right {
    animation: slide-out-right 0.5s ease-in-out forwards;
  }

  .animate-slide-in {
    animation: slide-in 0.5s ease-in-out forwards;
  }
}




/* Скрыть скроллбар в Chrome, Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Скрыть скроллбар в Firefox */
.no-scrollbar {
  scrollbar-width: none;
}




/* Скрытие скроллбара (Webkit) */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

/* Для Firefox */
.scroll-hidden {
  scrollbar-width: none;
}
